body {
    margin: 0;
    background-color: rgb(14, 208, 188);
}

table {
    margin: 20px 100px 50px 100px;
}

.table-caption {
    background-color: rgb(110, 180, 221);
    text-shadow: 2px 2px 10px #969696;
    font-family: Roboto, Arial;
    color: rgb(41, 41, 41);
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.table-headings th {
    font-family: Roboto, Arial;
    text-shadow: 2px 2px 4px #b0afaf;
    font-weight: 500;
    font-size: 22px;
    padding: 5px;
    background-color: rgb(190, 244, 244);
    border-radius: 2px;
}

th:hover {
    opacity: 0.8;
}

.table-items td {
    font-family: Roboto, Arial;
    font-weight: 300;
    font-size: 18px;
    padding: 5px;
    line-height: 1.4em;
    background-color: rgb(190, 244, 244);
    border-radius: 2px;
}

td:hover {
    opacity: 0.8;
}
